@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');
@import './calendar.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth !important;
    /*background-color: black;*/
  }

  body {
    @apply font-primary;
  }

  body:has(.disable-scrolling) {
    overflow: hidden !important;
  }

  #app-wrapper:has(#portal-presence) {
    scale: 0.8;
  }

  h1 {
    @apply font-semibold;
  }

  h3 {
    @apply text-[44px] font-semibold leading-[47px] 640:text-[47px] 640:leading-[52px] 1180:text-[55px] 1180:leading-[58px];
  }

  h4 {
    @apply text-[24px] font-medium leading-[24px] 640:text-[32px] 640:leading-[36px];
  }

  h5 {
    @apply text-lg font-medium text-neutral-1000 640:text-xl;
  }

  h6 {
    @apply text-xl font-semibold text-neutral-1000;
  }

  label,
  .label {
    @apply mb-2 text-left text-sm font-normal text-neutral-700;
  }

  select,
  textarea,
  .input {
    @apply _input min-h-[44px];
  }

  ._input {
    @apply smooth block appearance-none rounded-lg border border-neutral-100 bg-neutral-100 px-3.5 text-neutral-1000 placeholder-neutral-400 transition-colors focus:border-neutral-400 focus:outline-none focus:ring-2 focus:ring-neutral-200 640:focus:ring-4;
    box-shadow: 0 2px 5px rgba(103, 110, 118, 0.08),
      0 0 0 1px rgba(103, 110, 118, 0.16), 0 1px 1px rgba(0, 0, 0, 0.12);
  }

  .pagination-button {
    @apply smooth block appearance-none rounded-lg bg-white px-3.5 text-neutral-1000 placeholder-neutral-400 shadow-sm transition-colors focus:border-neutral-400 focus:outline-none disabled:opacity-30 640:border-none 640:shadow-none;
  }

  input[type='checkbox'] {
    @apply h-[18px] w-[18px] cursor-pointer appearance-none rounded-[4px] border-2 border-neutral-300 text-primary-main ring-0 checked:border-primary-main checked:bg-primary-main focus:ring-0 focus:ring-offset-0;
    border: 2px solid rgba(111, 118, 126, 0.4);
  }

  button,
  input {
    @apply disabled:cursor-not-allowed disabled:opacity-50;
  }

  .text-link {
    @apply text-sm font-medium hover:underline;
  }

  button,
  a,
  .no-highlight {
    @apply focus:outline-none;
    -webkit-tap-highlight-color: transparent !important;
  }

  .white-text {
    @apply text-sm leading-6 text-white text-opacity-70;
  }

  p {
    @apply text-sm font-light text-neutral-600 640:text-base;
  }

  ul {
    @apply pl-4 !important;
    list-style-type: disc;
  }

  #react_paginate_wrapper > ul {
    @apply pl-0 !important;
    list-style-type: none;
  }

  ol {
    @apply my-0 pl-4 !important;
    list-style-type: auto;
  }
}

@layer components {
  .app-container {
    @apply mx-auto px-3 640:px-8;
  }

  .app-layout-desktop-width {
    width: calc(100% - 324px);
  }

  .auth-container {
    @apply mx-auto max-w-[540px] px-5 640:px-8;
  }

  .container {
    @apply app-container max-w-[1340px];
  }

  .primary-button {
    @apply smooth h-10 rounded-full bg-primary-main px-4 text-center text-sm font-medium text-white ring-primary-main ring-opacity-30 transition-colors hover:bg-primary-hmain focus:ring-2;
  }

  .secondary-button {
    @apply smooth h-10 rounded-full border border-neutral-200 bg-white px-4 text-sm font-semibold text-neutral-1000 hover:bg-gray-100;
  }

  .light-button {
    @apply smooth h-10 rounded-full border border-primary-main bg-white px-4 text-center text-sm font-medium text-primary-main transition-colors hover:bg-gray-100;
  }

  .dark-button {
    @apply smooth h-10 rounded-full border border-black bg-black px-4 text-center text-sm font-medium text-white transition-colors hover:bg-gray-900;
  }

  .action-button {
    @apply flex w-full rounded-lg p-2 transition-colors hover:bg-gray-100;
  }

  .outline-button {
    @apply smooth h-10 rounded-full border border-primary-700 bg-transparent px-4 text-center text-sm font-medium text-primary-700 transition-colors hover:bg-gray-100;
  }

  .text-button {
    @apply text-primary-main hover:underline;
  }

  .skeleton {
    @apply smooth animate-pulse rounded-md bg-neutral-200;
  }

  .skeleton-error {
    @apply smooth rounded-md bg-red-100;
  }

  .spinner {
    @apply h-5 w-5 animate-spin;
  }

  .card {
    @apply w-full rounded-lg border border-neutral-310 p-3 640:rounded-xl 640:p-5;
  }

  .x-between {
    @apply flex justify-between align-middle;
  }

  .y-between {
    @apply flex flex-col justify-between align-middle;
  }

  .x-center {
    @apply flex justify-center align-middle;
  }

  .y-center {
    @apply flex flex-col justify-center align-middle;
  }
}

@layer utilities {
  .generic-error {
    @apply mt-1 text-left text-sm text-red-500;
  }

  .smooth {
    @apply duration-[150ms] ease-linear;
  }

  .card-title {
    @apply;
  }

  .card-description {
    @apply;
  }

  .autosizer > div {
    @apply thin-scrollbar;
  }

  .green-pill {
    @apply pill bg-success-600 text-white;
  }

  .yellow-pill {
    @apply pill bg-yellow-500 text-white;
  }

  .gray-pill {
    @apply pill bg-neutral-500 text-black;
  }

  .blue-pill {
    @apply pill bg-primary-main bg-opacity-20 text-[10px] font-semibold uppercase text-primary-main !important;
  }

  .red-pill {
    @apply pill bg-red-500 bg-opacity-20 text-[10px] font-semibold uppercase text-red-500 !important;
  }

  .alt-pill {
    @apply y-center smooth h-[26px] rounded-full border-2 px-2 py-1 text-xs font-medium capitalize;
  }

  .green-alt-pill {
    @apply alt-pill border-success-400 bg-success-200 text-success-700;
  }

  .red-alt-pill {
    @apply alt-pill border-red-500 border-opacity-30 bg-red-100 text-red-700;
  }

  .yellow-alt-pill {
    @apply alt-pill border-yellow-500 border-opacity-30 bg-yellow-50 text-yellow-600;
  }

  .gray-alt-pill {
    @apply alt-pill bg-neutral-50 text-neutral-700;
  }

  .blue-pill {
    @apply pill bg-primary-main bg-opacity-20 text-[10px] font-semibold uppercase text-primary-main !important;
  }

  .red-pill {
    @apply pill bg-red-500 bg-opacity-20 text-[10px] font-semibold uppercase text-red-500 !important;
  }

  .pill {
    @apply y-center smooth h-[26px] rounded-full px-2 py-1 text-sm font-normal capitalize transition-colors;
  }

  .mpill {
    @apply flex rounded-full bg-opacity-40 px-2 py-1 text-xs font-semibold;
  }

  .blue-mpill {
    @apply mpill bg-primary-main text-primary-main;
  }

  .blue-mpill-h {
    @apply mpill bg-blue-300 text-primary-main hover:bg-opacity-60;
  }

  .tpill {
    @apply y-center h-[18px] rounded-full px-1.5 text-[10px] shadow-sm 640:h-[22px] 640:px-2 640:py-1 640:text-xs;
  }

  .pill_gray {
    @apply tpill bg-neutral-100 text-neutral-900 ring-1 ring-neutral-600 ring-opacity-20 640:ring-2;
  }

  .pill_yellow {
    @apply tpill bg-others-yellow text-warning-700 ring-2 ring-warning-600 ring-opacity-40;
  }
}

/* CUSTOM SCROLL BAR */
.thin-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  overflow: overlay;
}

.thin-scrollbar::-webkit-scrollbar,
.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #cacaca;
  border-radius: 50px;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d3d1cb;
}

.x-thin-scrollbar::-webkit-scrollbar {
  width: auto;
  height: 4px;
  overflow: overlay;
}

.x-thin-scrollbar::-webkit-scrollbar,
.x-thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.x-thin-scrollbar::-webkit-scrollbar-thumb {
  background: #cacaca;
  border-radius: 50px;
}

.x-thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d3d1cb;
}

/* HIDDEN SCROLL BAR */
.hidden-scrollbar::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

@media (min-width: 640px) {
  .Toastify__toast-container {
    min-width: 420px !important;
  }
}

@media only screen and (max-width: 640px) {
  .Toastify__toast-container {
    padding: 16px !important;
  }
}

/* TOGGLE SWITCH */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #667185;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .toggle {
  background-color: #1a44ed;
}

input:checked + .toggle:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.toggle.round {
  border-radius: 28px;
}

.toggle.round:before {
  border-radius: 50%;
}
